
.form_item_wrapper{
    width: 100%;
    animation: fadeup 1s ease-out;
}

@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }

.form_header{
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.watch_video_wrapper {
    background: #ff5c00;
    border-radius: 1rem;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
}

.watch_video_wrapper::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    z-index: -1;
    animation: fadeout 1s ease-out infinite;
}

@keyframes fadeout{
    0%{
        transform: scale(1, 1);
        opacity: 1;
    }
    100%{
        transform: scale(1.1, 1.3);
        opacity: 0.1;
    }
}

.play_icon{
    font-size: 0.7rem;
}


.get_help {
    font-size: 0.8rem;
}
.get_help a{
    color: #00f;
}

.progress_bar_wrapper {
    width: 100%;
    margin: 20px 0;
}
.progress_label {
    width: 100%;
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    align-items: center;
}
.progress_bar {
    width: 100%;
    height: 5px;
    background: #0f02;
    border-radius: 1rem;
}
.progress_percent {
    width: 30%;
    height: 100%;
    background: #00640077;
    border-radius: 1rem;
    transition: all 500ms ease;
}

.title{
    font-size: 1.5rem;
    font-weight: bold;
}
.warning_box{
    margin: 15px 0 15px 0;
    border: 2px solid #6366F1;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    background: #6366F122;
}
.warning_content{
 padding: 10px;
}

.form_field{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.field_label{
    padding: 10px 0;
    font-weight: 500;
}
.input_field{
    padding: 5px 15px;
    border-radius: 5px;
    background: #aaa3;
}

.inputtable_form {
    width: 80%;
}
.input_field:focus{
    outline: 1px;
}
.sub_title{
    font-weight: bold;
}
.subtitle_wrapper {
    padding: 25px 0;
}